<nav>
  <a href="/">
    <span>
      Members
    </span>
    only club
  </a>
  <% if (user) { %>
    <div>
      <a href="/log-out">Log out</a>
      <a href="/membership">Membership</a>
    </div>
  <% } else { %>
    <div>
      <a href="/log-in" id="log-in">
        <img src="../public/images/login_icon.svg">
        Log in
      </a>
      <a href="/sign-up">
        <img src="../public//images/user_icon.svg">
        Sign up
      </a>
    </div>
  <% } %>
</nav>