<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <h1>Hello !</h1>
  <% if (user) { %>
    <h2>Welcome <%= user.name %> </h2>
    <a href="/log-out">Log out</a>
  <% } %>
  <a href="/log-in">Log in</a>
  <a href="/sign-up">Sign up</a>
</body>
</html>