<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheet/main.css">
  <title>Log in</title>
</head>
<body>
  <%- include('header', { user: user }) %>
  <section class="main-login">
  <h1>Log in</h1>
  <form class="login-form" action="/log-in" method="POST">
    <fieldset class="floating-label">
      <input type="email" name="username" placeholder="" id="email" required>
      <label for="email">Email</label>
    </fieldset>
    <% if (errorMessages) { %>
      <p><%= errorMessages[errorMessages.length-1] %></p>
    <% } %>
    <fieldset class="floating-label">
      <input type="password" name="password" id="password" placeholder="" required>
      <label for="password">Password</label>
    </fieldset>
    <button type="submit">Log in</button>
  </form>
</section>
</body>
</html>