<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheet/main.css">
  <title>Membership</title>
</head>
<body>
  <%- include("header", { user: user }) %>
  <section class="main">
    <form class="membership-form" action="" method="POST">
      <fieldset class="floating-label">
        <input type="text" name="membership" id="membership" placeholder="">
        <label for="membership">Enter membership code</label>
      </fieldset>
      <fieldset class="floating-label"> 
        <input type="text" name="admin_code" id="admin_code" placeholder="">
        <label for="admin_code">Enter Adming code</label>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </section>
</body>
</html>