<form action="/create_msg" method="POST">
  <label id="msg-title">Title</label>
  <input type="text" name="title" id="msg-title" placeholder="Title">
  <label for="message">Message</label>
  <input type="text" name="message" id="message" placeholder="Hello!">
  <button type="submit">Submit</button>
</form>